# Some practive on basic python

In [1]:
i = 10
i

10

In [2]:
type(i)

int

In [6]:
id(i)

2504304751056

In [3]:
i = 10.1

In [4]:
type(i)

float

In [5]:
id(i)

2504304751056

Note: variable i was integer type and when assigned a float value to it then it became float type. Notice that memory location of i is same in both case.

In [10]:
# Boolean values are also treated as 0 or 1 
x = True
y = True

x + y

2

In [11]:
y = False
x + y

1

In [12]:
x = False
x + y

0

In [13]:
# String single quotes, double quotes and triple quotes example
name = "Gaurav Pandey"
name

'Gaurav Pandey'

In [14]:
name = "Gaurav ' Pandey'"
name

"Gaurav ' Pandey'"

In [15]:
# Following will give error in case of double quotes
#name = "Gaurav "Pandey"

SyntaxError: invalid syntax (<ipython-input-15-411f93b03d3c>, line 1)

In [16]:
name = 'Gaurav "Pandey"'
name

'Gaurav "Pandey"'

In [20]:
name = 'Gaurav " Pandey'
name

'Gaurav " Pandey'

In [22]:
# String with triple quotes can be spanned in multiple lines
name = """ Gaurav  
"Pandey"""
name

' Gaurav  \n"Pandey'

In [23]:
# String Concatenation
name = "Gaurav " + " Pandey"
name

'Gaurav  Pandey'

In [24]:
# Repeating String
"Gaurav" * 5

'GauravGauravGauravGauravGaurav'

In [25]:
# Boolean Evaluation
True and True

True

In [26]:
True and False

False

In [27]:
False and False

False

In [28]:
True or False

True

In [29]:
False or True

True

In [30]:
# When used mathematical operator with boolean variables it will be treated as 0 or 1
True * True

1

In [31]:
True + True

2

In [32]:
True * False

0

In [33]:
False/True

0.0

In [34]:
# However True/False will fail by division by zero error
#True/False

In [41]:
# Condition
num = 8
if(num > 10):
    print('Number is greater than 10')
elif(num <= 5):
    print('Number is equal or less than 5')
else :
    print('Number is greater than 5 but less than 11')

Number is greater than 5 but less than 11

In [42]:
#Lists, arrays are not part of core python but they are part of numpy
list = [1,2,3]
list

[1, 2, 3]

In [43]:
type(list)

list

In [54]:
# list can hold multiple type of data
list = [1, "Gaurav", 1.1,3,5,6]
list

[1, 'Gaurav', 1.1, 3, 5, 6]

In [55]:
# items can be accessed forward as well as backword
#Forward accessing, index starts with 0
list[0]

1

In [56]:
list[4]

5

In [50]:
#Backword accessing, index starts with 1
list[-1]

1.1

In [53]:
#Accessing Range of the Data, start with zero all data "before" second index
list[0:2]

[1, 'Gaurav']

In [58]:
#Step Size in the list, in below example it will print every second element starting from index zero and less than index 5
list[0:5:2]

[1, 1.1, 5]

In [59]:
#default starting point for the range
list[:5]

[1, 'Gaurav', 1.1, 3, 5]

In [60]:
# default start and end index with step function , forward and reverse
list[::2]

[1, 1.1, 5]

In [61]:
list[::-1]

[6, 5, 3, 1.1, 'Gaurav', 1]

In [62]:
name = "Gaurav"
name[::]

'Gaurav'

In [63]:
name[::2]

'Gua'

In [65]:
# Reversed the string using giving negative numnber in step parameter
name[::-1]

'varuaG'