In [1]:
# Tuples

In [2]:
t = (1,2,3)
type(t)

tuple

In [3]:
l = [1,2,3]
type(l)

list

In [4]:
# supports mix data type
t = (1,2,3,4,"Gaurav", True)
t

(1, 2, 3, 4, 'Gaurav', True)

In [5]:
#most of the list functions work with tuple
t[0:3]

(1, 2, 3)

In [6]:
# tuples are not mutable, unlike list
l[1] = 323
l

[1, 323, 3]

In [14]:
# since tuple is immutable collection so below assignment should give error
#t[1] = 2333
#t

In [8]:
#example of mixed data in tuple
t = (1,2,3,4,55,"Gaurav", True, ['a','b','c'], (2,34,5))
t

(1, 2, 3, 4, 55, 'Gaurav', True, ['a', 'b', 'c'], (2, 34, 5))

In [9]:
# reversing the tuple like list
t[::-1]

((2, 34, 5), ['a', 'b', 'c'], True, 'Gaurav', 55, 4, 3, 2, 1)

In [10]:
#converting tuple to list
list(t)

[1, 2, 3, 4, 55, 'Gaurav', True, ['a', 'b', 'c'], (2, 34, 5)]

In [11]:
#converting tuple to list
tuple(l)

(1, 323, 3)

In [12]:
#Sets - unordered collection of unique elements
x = set()
type(x)

set

In [15]:
#it takes only 1 parameter, below should give error
#set(1,2,3)

In [16]:
set("Gaurav")

{'G', 'a', 'r', 'u', 'v'}

In [18]:
# Integer is not an iterable so below line should give error
# set(1234)

In [21]:
#set has only unique elements
l = [111,2,3,4,5,5,5,5,5,5]
set(l)

{2, 3, 4, 5, 111}

In [26]:
# it also sorts the list that has been passed
l = [4,3,6,77,1]
s = set(l)
s

{1, 3, 4, 6, 77}

In [27]:
s.add(32)
s

{1, 3, 4, 6, 32, 77}

In [29]:
# cannot read data using indexes, following will give error
#s[0]

In [31]:
#Dictionary, collection of of key-value pairs
d = {}
type(d)

dict

In [32]:
#curly braces with single data
d={4}
type(d)

set

In [34]:
#dictionary has curly braces with key-value
d = {1:"hello"}
type(d)

dict

In [35]:
d[1]

'hello'

In [36]:
#in case of duplicate key it will take the latest value for that key
d = {'key1':"hello", 'key1':'world'}
d

{'key1': 'world'}

In [37]:
#Boolean value as key
d ={True:'myself'}
d

{True: 'myself'}

In [38]:
d[False] = 'find out'
d

{True: 'myself', False: 'find out'}

In [48]:
#disctionary within dictionary, nested
d = {'key1' : [1,3,4,5], 'key2':{'key3':32, 'key4':"434"}}
d

{'key1': [1, 3, 4, 5], 'key2': {'key3': 32, 'key4': '434'}}

In [44]:
# To get keys of the dictionary
d.keys()

dict_keys(['key1', 'key2'])

In [50]:
#Accessing value from nested dictionary
d['key2']['key4']

'434'

In [43]:
d.items()

dict_items([('key1', [1, 3, 4, 5]), ('key2', {'key3': 32, 'key4': '434'})])

In [46]:
#To get all the values of the dictionary
d.values()

dict_values([[1, 3, 4, 5], {'key3': 32, 'key4': '434'}])

In [47]:
# Generating a dictionary
# generate key value pair within {}
{i:i*2 for i in range(5)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}