In [1]:
# list created with list()
# Please note: if you create any variable named 'list' then calling list function would give an error message as below
# TypeError: 'list' object is not callable
# If you get the above error and not sure whether you have used 'list as variable then you may try to print(list) to check.

lst1 = list("Gaurav")
lst1

['G', 'a', 'u', 'r', 'a', 'v']

In [2]:
# values enclosed with []
lst2 = list(["Gaurav", "Pandey"])
lst2

['Gaurav', 'Pandey']

In [3]:
#When index is out of range
name = "Gaurav"
name[0:11]

'Gaurav'

In [4]:
# Following will give blank string because default direction in +ve and here to get the element direction should be -ve
name[3:0]

''

In [5]:
#This is how we can correct it
name[3:0:-1]

'rua'

In [7]:
#Appending in list
lst3 = []
lst3.append("Gaurav")
lst3.append(" ")
lst3.append("Pandey")
lst3

['Gaurav', ' ', 'Pandey']

In [8]:
#Inserting data at a particular place
lst3.insert(1, "##")
lst3

['Gaurav', '##', ' ', 'Pandey']

In [9]:
#Adding list inside the list
lst3.append([" ", "Lets", "Learn", "Python"])
lst3

['Gaurav', '##', ' ', 'Pandey', [' ', 'Lets', 'Learn', 'Python']]

In [12]:
temp = lst3[4]

In [13]:
lst3.insert(0, temp)
lst3

[[' ', 'Lets', 'Learn', 'Python'],
 'Gaurav',
 '##',
 ' ',
 'Pandey',
 [' ', 'Lets', 'Learn', 'Python']]

In [15]:
# Using '+' operator with list, concatenate two lists
lst4 = [23,44,2]
lst5 = ['a', 'b', 'c']
lst4 + lst5

[23, 44, 2, 'a', 'b', 'c']

In [17]:
lst4 = [['lets', 'learn'], 123]
lst5 = ['a', ['hello', 'world']]
lst4 + lst5

[['lets', 'learn'], 123, 'a', ['hello', 'world']]

In [19]:
## Note: negative step function is not applicable with integer

In [20]:
#For loop

In [22]:
nums = [2,43,4,665,32,1]
sum = 0
for val in nums:
    sum = sum +val
    
print("Sum ", sum)

Sum  747

In [24]:
#For with else statement, else part will be executed "only" list is exhausted, it will not be executed in case of break 

digits = [3,43,5,22]

for i in digits:
    print(i)
else:
    print("Completed")

3
43
5
22
Completed

In [28]:
# While Loop
index = 0
sum = 0
length = 4
while index < length:
    sum = sum + digits[index]
    index =  index + 1
    
print(" Sum is ", sum)

 Sum is  73

In [30]:
# Range Function, can be used to generated data of given boundary ( excluding upper bound)
range(10)

range(0, 10)

In [31]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#Since default step direction is positive, nothing will be assigned
list(range(10,0))

[]

In [35]:
#Since giving the range in reverse so specifying step direction as negative
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
#Taking input from the user
print("Please give your input ", input())

 hello

Please give your input  hello

In [37]:
# break and continue work same as in java