# map()

In [8]:
def fahrenheit(T):
    return ((float(9)/5)*T +32)

def celsius(T):
    return (float(5)/9) *(T-32)

temp = [0, 32, 35.6, 40, 98, 99]

In [4]:
tempList = []
for i in temp:
    tempList.append(fahrenheit(i))
    
tempList

[32.0, 89.6, 96.08, 104.0, 208.4, 210.20000000000002]

In [6]:
#First parameter of the map is function and second parameter is data
F_temps = list(map(fahrenheit, temp))
F_temps

[32.0, 89.6, 96.08, 104.0, 208.4, 210.20000000000002]

In [9]:
#Converting F_temps in celcius
C_temps = list(map(celsius, F_temps))
C_temps

[0.0, 32.0, 35.6, 40.0, 98.00000000000001, 99.00000000000001]

In [10]:
#lamda can also be passes in plcace of named function
a = [1,2,3,4,5,6]
b = [3,45,5,6,6,7,3,4,7,1,9,8]
c = [7,8,89,0,1,2 ]
list(map(lambda x,y:x*y,a,b))

[3, 90, 15, 24, 30, 42]

In [11]:
list(map(lambda x:x*10, a))

[10, 20, 30, 40, 50, 60]

In [12]:
list(map(lambda x,y,z : x+y+z, a,b,c))

[11, 55, 97, 10, 12, 15]

In [16]:
sum = lambda x,y:x+y
sum

# reduce()

In [17]:
from functools import reduce
lst=[434,454,232,767,232]
reduce(lambda x,y: x+y, lst)

2119

In [22]:
# write a lambda to find minimum value of a list
min_value = lambda m,n: m if m < n else n
type(min_value)

function

In [23]:
reduce(min_value, a)

1

In [26]:
def divisible_by_three(num):
    if(num%3 == 0):
        return True

In [27]:
my_list = range(50)
list(filter(divisible_by_three, my_list))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]